@font-face {
    font-family: 'base';
    src: url(fontes/adihausdin_cn.ttf) format(opentype);
}

body{
    background-color:  #D2B48C;
}
img{
    width: 100px;
    height: auto;
}
.centralizar{
    text-align: left;
    color: #3C3711;
    font-family:base, sans-serif;
    background-color:   #8B4513;
    
    ;

}
h2{
    color: #3C3711;
    font-family: base, sans-serif;
    color: white;
    height: 100px;
    line-height: 100px;
    margin: 0;
    position: relative;
    top: -90px;
    left: 500px;
    
}

.homem{
    color: #3C3711;
    font-family: base, sans-serif;
    color: white;
    height: 100px;
    line-height: 100px;
    margin: 0;
    position: relative;
    top: -190px;
    left: 600px;
}

.mulher{
    color: #3C3711;
    font-family: base, sans-serif;
    color: white;
    height: 100px;
    line-height: 100px;
    margin: 0;
    position: relative;
    top: -290px;
    left: 680px;
}

.infantil{
    color: #3C3711;
    font-family: base, sans-serif;
    color: white;
    height: 100px;
    line-height: 100px;
    position: relative;
    top: -390px;
    left: 770px;
}

.esportes{
    color: #3C3711;
    font-family: base, sans-serif;
    color: white;
    height: 100px;
    line-height: 100px;
    position: relative;
    top: -490px;
    left: 870px;
}
.comunidade{
    color: #3C3711;
    font-family: base, sans-serif;
    color: white;
    height: 100px;
    line-height: 100px;
    margin: 0;
    position: relative;
    top: -590px;
    left: 970px;
}