@font-face {
    font-family: 'base';
    src: url(fontes/adihausdin_cn.ttf) format(opentype);
}

body{
    background-color:  #D2B48C;
}
img{
    width: 100px;
    height: auto;
}
.centralizar{
    text-align: left;
    color: #3C3711;
    font-family:base, sans-serif;
    background-color:   #8B4513;
}
h2{
    color: #3C3711;
    font-family: base, sans-serif;
    font-size: 70px;
    color: white;
    height: 100px;
    margin: 0;
    position: relative;
    top: -110px;
    left: 800px;
}
.imagem1{
        width: 250px;
        height: auto;
        position: relative;
        top: -110px;
        left: 30px;
}

.imagem2{
    width: 250px;
    height: auto;
    position: relative;
    top: -110px;
    left: 70px;

}

.imagem3{
    width: 250px;
    height: auto;
    position: relative;
    top: -110px;
    left: 132px;

}

.imagem4{
    width: 250px;
    height: auto;
    position: relative;
    top: -110px;
    left: 180px;

}

.imagem5{
    width: 250px;
    height: auto;
    position: relative;
    top: 160px;
    left: -1015px;


}

.imagem6{
    width: 250px;
    height: auto;
    position: relative;
    top: 160px;
    left: -948px;

}

.imagem7{
    width: 250px;
    height: auto;
    position: relative;
    top: 160px;
    left: -883px;
}

.imagem8{
    width: 250px;
    height: auto;
    position: relative;
    top: -92px;
    left: 972px;
}

.imagem9{
    width: 250px;
    height: auto;
    position: relative;
    top: -93px;
    left: 1000px;
}

.imagem10{
    width: 250px;
    height: auto;
    position: relative;
    top: -360px;
    left: 745px;
}
.voltar{
    color: black;
    position:relative;
    top: -630px;
    left: -280px;
    
}