@font-face {
    font-family: 'base';
    src: url(fontes/adihausdin_cn.ttf) format(opentype);
}

body{
    background-color:  #D2B48C;
}
img{
    width: 100px;
    height: auto;
}
.centralizar{
    text-align: left;
    color: #3C3711;
    font-family:base, sans-serif;
    background-color:   #8B4513;
}
h2{
    color: #3C3711;
    font-family: base, sans-serif;
    font-size: 70px;
    color: white;
    height: 100px;
    margin: 0;
    position: relative;
    top: -110px;
    left: 800px;
}
.mulher1{
        width: 340px;
        height: auto;
        position: relative;
        top: -110px;
        left: 30px;
}

.mulher2{
    width: 340px;
    height: auto;
    position: relative;
    top: -110px;
    left: 70px;

}

.mulher3{
    width: 340px;
    height: auto;
    position: relative;
    top: -110px;
    left: 132px;

}

.mulher4{
    width: 340px;
    height: auto;
    position: relative;
    top: 250px;
    left: -615px;

}

.mulher5{
    width: 340px;
    height: auto;
    position: relative;
    top: 250px;
    left: -1345px;
}

.mulher6{
    width: 340px;
    height: auto;
    position: relative;
    top: -450px;
    left: 820px;
}

.voltar{
    color: black;
    position:relative;
    top: -1170px;
    left: 10px;

}

.bannerM{
    width: 700px;
    height: auto;
    position: relative;
    top: -450px;
    left: 740px;
}

.homem1{
    width: 340px;
    height: auto;
    position: relative;
    top: -110px;
    left: 30px;
}

.homem2{
    width: 340px;
    height: auto;
    position: relative;
    top: -110px;
    left: 70px;

}

.homem3{
    width: 340px;
    height: auto;
    position: relative;
    top: -110px;
    left: 132px;

}

.homem4{
    width: 340px;
    height: auto;
    position: relative;
    top: 250px;
    left: -615px;

}

.homem5{
    width: 340px;
    height: auto;
    position: relative;
    top: 250px;
    left: -1345px;
}

.homem6{
    width: 340px;
    height: auto;
    position: relative;
    top: -450px;
    left: 820px;
}

.infantil1{
    width: 340px;
    height: auto;
    position: relative;
    top: -110px;
    left: 30px;
}

.infantil2{
    width: 340px;
    height: auto;
    position: relative;
    top: -110px;
    left: 70px;

}

.infantil3{
    width: 340px;
    height: auto;
    position: relative;
    top: -110px;
    left: 132px;

}

.infantil4{
    width: 340px;
    height: auto;
    position: relative;
    top: 250px;
    left: -615px;

}

.infantil5{
    width: 340px;
    height: auto;
    position: relative;
    top: 250px;
    left: -1345px;
}

.infantil6{
    width: 340px;
    height: auto;
    position: relative;
    top: -450px;
    left: 820px;
}




